@import '~main.scss';

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

mat-toolbar a:link {
  color: $color-primary-font-0;
}

mat-toolbar a:visited {
  color: $color-primary-font-0;
}

mat-toolbar {
  background-color: $color-primary-0;
}

mat-toolbar span {
  color: $color-primary-font-0;
}